.fs__header{
    font-size: 60px;
}

.about-hero{
    background-color: #EEEDE7;
}

 .header-h2 {
    font-size: 60px;
}

.features {
    background-color: #EEEDE7;
}

.expect{
     background-color: #e8e6de;
}

.community-section{
    background-color: #EEEDE7;
    
}
.community{
    border-radius: 9px;
}