.contact-us{
    background-color: #EEEDE7;
}



.contact-field input {
  width: 100%;
  height: 50px;
  border: 1px solid #503217;
  background: transparent;
  border-radius: 9px;
  color: #503217;
  
 
}

.contact-field img {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}
.left{
    
}
.message-box textarea{
    border: 1px solid #503217;
    border-radius: 9px;
    position: relative;
}

.message-box img{
    top: 8px;
    left: 8px;
}

.accordion-item {
  border: 1px solid #503217;
  border-radius: 9px;
  overflow: hidden;
   border-top: 1px solid #503217 !important;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
  border-color: transparent;
}

.accordion-button {
  background: transparent;
  color: #503217;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
}

.accordion-button:not(.collapsed) {
  background: transparent;
  color: #503217;
}




.accordion-body {
  background: transparent;
  color: #503217;
  padding: 0 20px 15px;
}

.accordion-button::after {
  display: none;
}
.accordion-header img {
  width: 25px;
  margin: 5px;
  transition: transform 0.3s;
}

.accordion-button:not(.collapsed) img {
  transform: rotate(45deg);
}
.faq h2{
  font-size: 50px;
}