.shop-hero {
    background-color: #e8e6de;
}

.shop-hero .number-input {
    width: 60px;
    height: 40px;
    border-radius: 9px;
    border: 1px solid #503217;
    color: #503217;
    background: transparent;
}

/* end shop-hero */
/* start featrues */
.features{
    background-color:#e8e6de ;
}
/* end featrues */
/* start reviews*/
.reviews{
    background-color: #e8e6de;
}
.reviews .review-content{
border-radius: 16px 16px 16px 0;
}

.reviews .row {
  display: flex;
  align-items: stretch;
}
.review {
  height: 100%;
}

/* end reviews*/
/* start recent*/


.shop-page .latest-products {
  background-color: #e8e6de;
}
/* end recent*/

/* start community */
.community-section {
  background-color: #e8e6de; 
}

.community {
  border-radius: 9px;
}
.right-imgs img,.left-imgs img {
width: 250px;
}
.left-imgs,
.right-imgs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important; 
  height: 100%;
}


/* end community */